<html>

<head>
  <title>farmer aid</title>
  <link rel="stylesheet" href="static/mystyle.css">
</head>

<body>
<div class="header">

  <img src="https://images.vexels.com/media/users/3/142904/isolated/lists/b328ffdd1c50214fdfac8a447e74c5f8-plant-circle-logo.png" width="100px" height="auto" /><h1>GoGrow</h1>


</div>

<div class="middel">

  <a style="margin-top:10px" class = "btn" href="/">HOME</a><br>

    <h2 style="text-align:center;margin-top:70px">Farmer aid</h2>
      <p style="padding-left:100px;padding-right:100px">Assisting the farmer in information about <b>wheather</b> and <b>soil</b> properties and census backed up by <b>calamity alerts</b>.
      Here are the latest schemes provided by the government for the benifit of farmers.</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UhZAgYPXmCk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>
      <hr>



<div class="blue">
  <h2>weather forecasting</h2>
  <a href="#" class="image"><img src="https://www.pagasa.dost.gov.ph/themes/hiraia/assets/images/learning_tools/how_a_weather_forecast_is_made/Total%20Precipitation%2023-28%20DEC%202016.gif" alt="" data-position="top center" width = 300 height = 300 /></a>
  <p>A detailed weather report including <b>heatmaps</b> and <b>predictions</b>.</p>
  <a href="/farmer aid/weather" class="btn1">view</a>
  <hr>
</div>



<div class="pur">
  <h2>Pest control</h2>
  <a href="#" class="image"><img src="https://thumbs.gfycat.com/HonestUnluckyAnkole-size_restricted.gif" alt="" data-position="25% 25%" width = 300 height = 300 /></a>
  <p>A detailed representation to tackle pest <b>infestations</b></p>
  <a href="/farmer aid/pest" class="btn1">view</a>
  <hr>
</div>


<div class="blue">
  <h2>Alerts</h2>
    <a href="#" class="image"><img src="https://media.tenor.com/WCE5JUszKGMAAAAM/tenor.gif" alt="" data-position="center center" width = 300 height = 300 style=""/></a>
  <p>A message of caution issued to assist in precautionary measures and planning well ahead of time.</p>
  <a href="/farmer aid/alert" class="btn1">view</a>
  <hr>
</div>

<div class="pur">
  <h2>Irrigation mapping</h2>
  <a href="#" class="image"><img src="https://i.gifer.com/origin/99/992399c8b7aeea319c64eb2e913c890e.gif" alt="" data-position="center center" width = 300 height = 300 /></a>
  <p>Assist in easy supply of water for irrigation by navigating to the nearest water source.</p>
  <a href="/farmer aid/irrigation" class="btn1">view</a>
  </div>
</div>



<div class="bottom">
  <p>thank you</p>

</div>




</body>

</html>
