<html>
	<head>
		<title>Pest control web</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/mystyle.css">
	</head>
	<body class="is-preload">

			<header id="header">
				<a href="index.html" class="title">GoGrow</a>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>

					</ul>
				</nav>
			</header>
			<div id="wrapper">
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Pest control methods</h1>
							<ol>
								<li><h3>Organic Pest Control</h3></li>
								<p>An organic or natural method is usually preferred by those who want to constrain the damage caused by small animals and insects as well as ensure the safety of their kids, pets, and plants. In this case, you might want to use bait, trap, or spray. You can add poison in your bait; otherwise, insecticidal soap, oil, sprays, etc.</p>
								<iframe width="560" height="315" src="https://www.youtube.com/embed/hXlSicZE9jI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></br></br></br>

								<li><h3>Chemical Pest Control</h3></li>
								<p>Some organic treatments do not produce an effective result, which is why some opt for chemical pest control. You can find thousands of chemical products available for use in both residential and commercial properties. These can be in a form of solid, liquid, or aerosol. Though, keep in mind that some chemical products are very dangerous for humans and other living organisms.</p>
								<iframe width="560" height="315" src="https://www.youtube.com/embed/CesSFGywzhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></br></br></br>

								<li><h3>Electronic Pest Control</h3></li>
								<p>Thanks to the advancement of technology, picking up home pests and eliminating them permanently are made possible. Among the electronic pest control methods are electromagnetic and ultrasonic.

								<ul><li> Electromagnetic – affects the nervous system of species various such as mice. Though, it only repels insects and rodents.<li>
									<li> Ultrasonic – works by producing high-frequency, short-length sounds waves.</li></ul>
								<iframe width="560" height="315" src="https://www.youtube.com/embed/5dMOVlJm2DI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</ol>

						</div>
					</section>

			</div>


			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>webpage designed by RSSP</li>
					</ul>
				</div>
			</footer>

	</body>
</html>
