<!DOCTYPE HTML>

<html>
	<head>
		<title>weather forecasting web</title>
		<link rel="stylesheet" href="/static/mystyle.css">
	</head>
	<body >

		<div class="header">
		  <img src="https://images.vexels.com/media/users/3/142904/isolated/lists/b328ffdd1c50214fdfac8a447e74c5f8-plant-circle-logo.png" width="100px" height="auto" /><h1>GoGrow</h1>

			</div>
			<img src="" alt="">


			</div>

			<div class ="middel" >
				<img src="https://st4.depositphotos.com/28636338/41448/v/1600/depositphotos_414489660-stock-illustration-vector-illustration-gardening-stuff-gardening.jpg" alt=""width="50" height="50"> <br>
				{{temp}}
				<br>
				<img src="https://png.pngtree.com/png-vector/20190418/ourmid/pngtree-vector-wind-icon-png-image_956094.jpg" alt="" width="50" height="50"> <br>
			{{wind}}



			</div >

			<div class="bottom">
			  <b><p text-align:center>thank you</p></b>

			</div>

	</body>
</html>
